@use '../../../styles/abstracts/mixins' as *;

.auth {
    position: relative;
    width: 100%;
    min-height: 100vh; 
    background-color: var(--bg-light);
    box-sizing: border-box;
    padding: var(--space-2xl) var(--space-md); 
    @include flexbox(column, space-between, center, var(--space-xl));

    &__inner {
        position: relative;
        width: 100%;
        max-width: var(--container-content-md);
        margin: auto 0; 
        @include flexbox(column, center, center, 0);
        flex-grow: 1;
    }

    @media (max-width: 1300px) and (min-width: 769px) {
        min-height: auto;
        height: auto;
        padding-top: 25%;
    
        .auth__logo-signup {
            left: 48px; 
            top: 48px;
        }

        .auth__inner {
            min-height: auto;
            margin: 0 auto;
            padding-top: var(--space-xl); 
            padding-bottom: var(--space-2xl);
        }

        .auth__card {
            width: 90%;
            max-width: 520px; 
            margin: 0 auto;
            padding: var(--space-3xl) var(--space-2xl); 
        }

        .auth__card-header {
            padding: 0 48px;
            box-sizing: border-box;
        }

        .auth__back-btn {
            left: 0;
            top: 0;
            transform: none;
            
            &:hover, &:active {
                transform: scale(1.05); 
            }
        }

        .auth__footer {
            position: relative;
            bottom: auto;
            left: auto;
            transform: none;
            margin: var(--space-2xl) auto 0; 
        }
    }

    @include respond-to(md) {
        padding: clamp(64px, 8vh, 96px) var(--space-md) var(--space-xl);

        &__inner {
            min-height: auto;
            justify-content: center;
            align-items: center;
        }

        @include respond-to(sm) {
            padding: 88px 12px 24px;
        }
    }

    @media (max-width: 375px) {
        &__inner {
            box-sizing: border-box;
            padding-top: 0; 
            padding-bottom: 0;
        }

        &__card {
            margin-top: 24px;
        }
    }

    &__logo-signup {
        position: absolute;
        top: var(--space-2xl);
        left: 16%;
        pointer-events: none;

        @include respond-to(lg) {
            top: clamp(16px, 4vh, 24px);
            left: 8%;
            transform: none; 
            width: clamp(56px, 14vw, 72px);
        }

        @include respond-to(md) {
            top: clamp(16px, 4vh, 24px);
            left: 24px; 
            transform: none; 
            width: clamp(56px, 14vw, 72px);
            height: auto;
        }
    }

    &__back-btn {
        background-color: transparent; 
        border: none;
        cursor: pointer;
        padding: 0;
        
        width: 32px;
        height: 32px;
        border-radius: 50%; 
        opacity: 1;
        
        position: absolute; 
        left: 16px;
        top: 8px;
        z-index: 10; 
        
        @include flexbox(row, center, center, 0);
        transition: background-color 150ms ease-in-out, transform 150ms ease-in-out;

        svg path {
            fill: #124658; 
        }

        &:hover {
            transform: scale(1.05); 
            background-color: var(--bg-light); 
        }

        &:active {
            transform: scale(0.95);
            background-color: var(--border-clr-light); 
        }

        &:focus {
            outline: none;
        }

        @include respond-to(lg) {
            left: 0;
            top: 0;
        }

        @include respond-to(md) {
            left: 0;
            top: 0;
        }

        @include respond-to(sm) {
            left: 8px;
            top: 0px;
        }
    }

    &__title {
        font-family: var(--ff-display); 
        font-size: var(--fs-h2);
        font-weight: var(--fw-bold);    
        line-height: var(--lh-heading);
        color: var(--text-color-ultradark);
        margin-bottom: 0;
        
        width: 100%;
        text-align: center; 

        @include respond-to(md) {
            font-size: clamp(32px, 10vw, 44px);            
            color: var(--clr-black);    
        }

        @include respond-to(sm) {
            font-size: 28px; 
        }

        @media (max-width: 375px) {
            font-size: 24px;
        }
    }

    &__card {
        width: 652px;
        min-height: 449px;
        border-radius: 30px;
        padding: var(--space-2xl) 115px;
        background-color: var(--bg-ultralight);
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.14);
        @include flexbox(column, center, center, var(--space-xl)); 

        @include respond-to(md) {
            position: static;
            top: auto;
            left: auto;
            transform: none; 
            width: min(92vw, 620px);
            min-height: auto;
            border-radius: clamp(20px, 3.8vw, 30px);
            padding: clamp(20px, 4vw, 40px) clamp(16px, 5.8vw, 56px);
            gap: clamp(12px, 2.2vw, 24px);
            margin: 0 auto;

            &--visible {
                opacity: 1;
                transform: none; 
            }
        }

            @include respond-to(sm) {
                max-width: 340px;
                max-height: calc(100vh - 180px);
                overflow-y: auto; 
                padding: 16px 12px 12px;
                gap: 12px;
            }

            @media (max-width: 375px) {
                max-height: calc(100vh - 120px);
                padding: var(--space-md) var(--space-sm);
                gap: var(--space-sm);
            }
    }

    &__card-header {
        position: relative; 
        width: 100%;
        padding: 0 ; 
        box-sizing: border-box;
        @include flexbox(column, center, center, 16px); 

        @include respond-to(md) {
            width: 100%;
            height: auto; 
            gap: clamp(10px, 2vw, 16px);
            margin: 0 auto; 
        }
    }

    &__title {
        font-family: var(--ff-display); 
        font-size: var(--fs-h2);
        font-weight: var(--fw-bold);    
        line-height: var(--lh-heading);
        color: var(--text-color-ultradark);
        margin-bottom: 0;
        text-align: center;

        @include respond-to(md) {
            font-size: clamp(32px, 10vw, 44px);            
            color: var(--clr-black);    
        }

        @include respond-to(sm) {
                font-size: 28px; 
        }

        @media (max-width: 375px) {
                font-size: 24px;
        }
    }

    &__underline {
        width: 124px; 
        height: 3px;
        background-color: var(--clr-blue-light);
        border-radius: var(--radius-pill);

        @include respond-to(md) {
            width: 88px;  
            height: 3px; 
            background-color: var(--clr-blue-light); 
        }
    }

    &__form {
        width: 100%;
        @include flexbox(column, center, center, 24px);

        @include respond-to(md) {
            width: 100%;
            align-items: center;
            gap: clamp(10px, 2vw, 18px);
        }

        @include respond-to(sm) {
            gap: 8px;
        }
    }

    &__inputs-container {
        width: 100%;
        max-width: 422px;
        @include flexbox(column, center, center, 12px);

        @include respond-to(md) {
            width: 100%; 
            max-width: min(100%, 422px); 
            gap: clamp(8px, 1.6vw, 12px);
        }

        @include respond-to(sm) {
            gap: 6px;
        }
    }

    &__field-group {
        width: 100%;
        height: auto;
        position: relative; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 48px 24px;
        align-items: start;

        &--invalid {
            .auth__input {
                border: 1px solid #E60026; 

                &:focus {
                    border: 1px solid #E60026;
                }
            }
        }

        @include respond-to(md) {
            grid-template-rows: clamp(42px, 6vw, 48px) 24px;

            @include respond-to(sm) {
                grid-template-rows: 42px 24px;
            }

            @media (max-width: 375px) {
                grid-template-rows: 38px 18px;
            }
        }
    }

    &__error-text {
        grid-column: 1;
        grid-row: 2;
        font-size: var(--fs-body-normal);
        font-weight: var(--fw-regular); 
        line-height: var(--lh-heading); 
        color: var(--border-clr-error); 
        text-align: left;
        width: 100%;
        display: block;
        margin-top: 4px; 
        margin-bottom: 0;
        min-height: 24px;
        visibility: hidden;

        @include respond-to(md) {
            font-size: 14px;
            margin-top: 4px;
            margin-bottom: 6px; 
            display: block;
            min-height: 24px;

            @include respond-to(sm) {
                font-size: 12px;
                margin-top: 2px;
                margin-bottom: 0;
                line-height: 1.1;
                min-height: 24px;
            }
        }

        &--visible {
            visibility: visible;
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        padding: var(--space-md) var(--space-md); 
        border: 1px solid var(--border-clr-light);
        border-radius: var(--radius-md); 
        font-size: var(--fs-body-normal);
        outline: none;
        background-color: var(--bg-ultralight);
        transition: border-color 0.2s ease-in-out;

        &:focus {
            border-color: var(--border-clr-active);
        }

        @include respond-to(md) {
            height: clamp(42px, 6vw, 48px);
            font-size: clamp(14px, 2vw, 16px);
            padding: clamp(10px, 1.8vw, 14px) 44px clamp(10px, 1.8vw, 14px) 12px;
            padding-right: 44px; 

            @include respond-to(sm) {
                height: 42px;
            }

            @media (max-width: 375px) {
                height: 38px;
                font-size: 14px ;
                padding: var(--space-xs) var(--space-md);
            }
        }
    }

    &__input-icon {
        position: absolute;
        right: var(--space-md);
        top: 24px;
        transform: translateY(-50%);
        pointer-events: none;

        @include respond-to(md) {
            top: 22px;

            @include respond-to(sm) {
                top: 21px;
            }
        }
    }

    &__visibility-btn {
        position: absolute;
        right: var(--space-md);
        top: 24px;
        transform: translateY(-50%);
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        @include flexbox(row, center, center, 0);

        &:focus {
            outline: none;
        }

        @include respond-to(md) {
            top: 24px;
            transform: translateY(-50%);

            @include respond-to(sm) {
                top: 21px;
            }
        }
    }

    &__privacy-container {
        width: 100%;
        margin-top: var(--space-xs);
        @include flexbox(row, center, center, 0);
    }

    &__checkbox-label {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        user-select: none;
    }

    &__checkbox-hidden {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__custom-checkbox {
        @include flexbox(row, center, center, 0);
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden; 
        position: relative;
        transition: transform 150ms ease-in-out;

        &:hover {
            transform: scale(1.02); 
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                box-shadow: inset 0px 0px 5px 2px rgba(42, 54, 71, 0.2);
                pointer-events: none; 
            }
        }
    }

    &__privacy-text {
        font-family: var(--ff-body);
        font-size: var(--fs-body-normal);
        color: var(--text-color-dark);
    }

    &__privacy-link {
        color: var(--clr-blue-light);
        text-decoration: none;
        font-weight: var(--fw-bold);
        cursor: pointer;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__action-group {
        --btn-font-size: 21px; 
        --btn-height: 48px; 
        --btn-gap: 10px;    
        
        --btn-primary-bg: #2A3647;
        --btn-primary-border: #2A3647;
        --btn-primary-hover-bg: #124658;
        --btn-primary-hover-border: #124658;
        --btn-primary-hover-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        --btn-primary-active-bg: #091931;
        --btn-primary-active-border: #091931;

        width: auto;
        height: 48px;
        @include flexbox(row, center, center, var(--space-xl)); 

        @include respond-to(md) {
            width: auto;
            max-width: none;
            height: auto;
            @include flexbox(column, center, center, 10px);
        }

        @include respond-to(sm) {
            gap: 8px;
        }
    }

    &__custom-btn {
        height: 100%;
        width: auto;
        flex: 0 0 auto;

        ::ng-deep .custom-btn {
            width: auto !important;
            min-width: 160px;
            padding-inline: 24px;
        }

        @include respond-to(md) {
            width: auto;
            ::ng-deep .custom-btn {
                width: auto !important;
                min-width: 160px;
                height: 51px;
            }
        }
    }

    &__toast {
        position: absolute;
        top: 90%; 
        left: 50%;
        z-index: 9999;

        transform: translateX(-50%); 
        opacity: 0;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 14px 24px;
        white-space: nowrap;

        background: var(--clr-blue-muted);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        border-radius: 20px;

        font-family: var(--ff-body);
        font-weight: var(--fw-regular);
        font-size: var(--fs-body-large);
        color: var(--clr-white);

        animation: toastBottomToCenter 0.6s ease-out forwards;
    }

    @keyframes toastBottomToCenter {
        0% {
            opacity: 0;
            translate: 0 50vh; 
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            translate: 0 0; 
        }
    }

    &__footer {
        position: relative; 
        margin-top: auto; 
        z-index: 999;
        opacity: 1;
        pointer-events: auto;
        flex-shrink: 0; 
    }

    &__footer-nav {
        width: 246px;
        height: 35px;
        @include flexbox(row, space-between, center, 16px);
    }

    &__footer-link {
        font-family: var(--ff-body); 
        font-size: var(--fs-h5);              
        font-weight: var(--fw-regular);
        line-height: var(--lh-heading);            
        color: var(--text-color-grey); 
        padding: var(--space-sm);      
        width: 115px;
        cursor: pointer;
        transition: color 100ms ease-in-out;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        white-space: nowrap;
        flex-shrink: 0;

        &:hover {
            color: #124658;  
            text-decoration: none;
            font-weight: var(--fw-bold);
        }
    }

    @include landscape-mobile {
        min-height: 100vh;
        height: auto;

        &__inner {
            min-height: auto;
            justify-content: flex-start;
            padding: 24px 16px;
        }

        &__card {
            width: min(100%, 340px);
            margin: 0 auto 24px;
        }

        &__footer {
            position: relative;
            margin-top: var(--space-lg);
        }
    }

        @media (orientation: landscape) and (min-width: 1320px) and (max-width: 1400px) and (min-height: 880px) and (max-height: 940px) {
        padding-top: 110px; 
        padding-bottom: 40px;

        &__logo-signup {
            left: 170px;
            top: 88px;
        }

        &__inner {
            margin: 0 auto;
            min-height: auto;
            padding-top: 140px; 
            padding-bottom: 0px;
        }

        &__card {
            width: 560px;
            min-height: auto; 
            padding: 32px 64px; 
            margin: 0 auto;
        }

        &__card-header {
            padding: 0 48px; 
            box-sizing: border-box;
        }

        &__back-btn {
            left: 0;
            top: 0;
        }

        &__footer {
            margin-top: 40px;
        }
    }

    @media (max-width: 410px) {
        &__logo-signup {
            top: 16px;
            width: 56px;
            height: auto;
            z-index: 3;
        }

        &__inner {
            padding-top: 64px;
            padding-bottom: 24px;
        }

        &__card {
            max-width: 320px;
            max-height: calc(100vh - 158px);
            margin-top: -6px;
            padding: 10px 12px;
            gap: 8px;
            border-radius: 20px;
            overflow-y: auto;
        }

        &__card-header {
            gap: 8px;
        }

        &__title {
            font-size: 24px;
        }

        &__underline {
            width: 72px;
        }

        &__form {
            gap: 7px;
        }

        &__inputs-container {
            gap: 6px;
        }

        &__field-group {
            grid-template-rows: 40px 18px;
        }

        &__input {
            height: 40px;
            font-size: 14px;
            padding: 9px 40px 9px 10px;
        }

        &__input-icon,
        &__visibility-btn {
            right: 10px;
            top: 19px;
        }

        &__error-text {
            min-height: 18px;
            font-size: 11px;
            margin-top: 1px;
        }

        &__action-group {
            --btn-font-size: 18px;
            --btn-height: 46px;
            gap: 6px;
        }

        &__custom-btn {
            ::ng-deep .custom-btn {
                height: 46px !important;
            }
        }
    }

}
